<div id="left">
  <br />
  <h6 class="subheader">Display Modes</h6>
  <a id="BS" class="tiny button radius success">Ball and Stick</a>
  <br />
  <a id="SF" class="tiny button radius">Space Filling</a>
  <br />
  <a id="WF" class="tiny button radius">Wireframe</a>
  <br />
  <input type="checkbox" id="Labs"> <label for="Labs">Labels</label>
</div>
<!-- Scene -->
<div id="right">
  <canvas id="viewer"></canvas>
</div>
