<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <section class="left-small">
      <a class="left-off-canvas-toggle menu-icon"><span>Menu</span></a>
    </section>

    <section class="right-small">
      <a class="right-off-canvas-toggle menu-icon"><span></span></a>
    </section>

    <!-- Off Canvas left menu. -->
    <aside class="left-off-canvas-menu">
      <h5 class="subheader">Display Modes</h5>
      <ul>
        <!-- <li><a id="BS" class="tiny button radius">Ball and Stick</a></li>
        <li><a id="SF" class="tiny button radius success">Space Filling</a></li>
        <li><a id="WF" class="tiny button radius">Wireframe</a></li> -->
        <li>
          <input id="BS" type="radio" name="display" checked = "checked">
          <label for="BS">Ball and Stick</label>
        </li>
        <li>
          <input id="SF" type="radio" name="display">
          <label for="SF">Space Filling</label>
        </li>
        <li>
          <input id="WF" type="radio" name="display" >
          <label for="WF">Wireframe</label>
        </li>

        <li><input type="checkbox" id="Hydro">
          <label for="Hydro">Polarity</label>
          <a id="help" data-reveal-id="polarityModal">More Info</a>
        </li>
        <li>
          <input type="checkbox" id="Labs">
          <label for="Labs">Labels</label>
        </li>
        <!-- <li><a id="fullScreen" class="tiny button radius">Fullscreen</a></li> -->
      </ul>

      <h5 class="subheader">Protein Structures</h5>
      <select id="PS">
        <optgroup label="From RCSB PDB">
          <option value="4F5S">Bovine Albumin</option>
          <option value="1BEB" selected="selected">Bovine Beta-Lactoglobulin (Lattice X)</option>
          <option value="1BLF">Bovine Lactoferrin</option>
          <option value="1B8E">Bovine Beta-Lactoglobulin (Isoforms A & B)</option>
          <option value="1F6S">Bovine Alpha-Lactalbumin</option>
        </optgroup>
      </select>

      <h5 class="subheader">Amino Acid Structures</h5>
      <select id="AS">
        <option>Select to view model</option>
        <optgroup label="Hydrophobic">
          <option value="Trp">Trp</option>
          <option value="Phe">Phe</option>
          <option value="Gly">Gly</option>
          <option value="Ala">Ala</option>
          <option value="Val">Val</option>
          <option value="Ile">Ile</option>
          <option value="Leu">Leu</option>
          <option value="Met">Met</option>
          <option value="Pro">Pro</option>
        </optgroup>

        <optgroup label="Hydrophilic">
          <option value="Tyr">Tyr</option>
          <option value="Ser">Ser</option>
          <option value="Thr">Thr</option>
          <option value="Asn">Asn</option>
          <option value="Gln">Gln</option>
          <option value="Cys">Cys</option>
        </optgroup>

        <optgroup label="Basic">
          <option value="Lys">Lys</option>
          <option value="Arg">Arg</option>
          <option value="His">His</option>
        </optgroup>

        <optgroup label="Acidic">
          <option value="Asp">Asp</option>
          <option value="Glu">Glu</option>
        </optgroup>
      </select>

    </aside><!-- End Off Canvas left menu. -->

    <!-- Off Canvas right menu. -->
    <aside class="right-off-canvas-menu">
      <h5 class="subheader">Quiz</h5>
      <p>Drag the following words to their coresponding statement. Not all words will be used.</p>
      <div id="container">
      <div id="words">
        <div class="tiny button radius">amino</div>
        <div class="tiny button radius">water</div>
        <div class="tiny button radius">casein</div>
        <div class="tiny button radius">hydrophobic</div>
        <div class="tiny button radius">secondary structure</div>
        <div class="tiny button radius">tertiary structure</div>
        <div class="tiny button radius">hydrogen</div>
        <div class="tiny button radius">hydrophilic</div>
        <div class="tiny button radius">denatured</div>
        <div class="tiny button radius">glycine</div>
        <div class="tiny button radius">chymotrypsin</div>
        <div class="tiny button radius">carboxl</div>
        <div class="tiny button radius">nitrogen</div>
        <div class="tiny button radius">quaternary</div>
      </div>

      <div id="statements">
        <p>
          The beginning of the protein sequence is known as the
          <span id="1" class="tiny button radius secondary">?</span>end.
        </p>
        <p>
          Areas of proteins which allow little interaction with water.
          <span id="2" class="tiny button radius secondary">?</span>
        </p>
        <p>
          Areas of proteins which contain amino acids with polar side groups.
          <span id="3" class="tiny button radius secondary">?</span>
        </p>
        <p>
          This atom is present in proteins, but not many other food components. It can therefore be used to analyse foods for protein content.
          <span id="4" class="tiny button radius secondary">?</span>
        </p>
        <p>
          When a peptide bond is formed, what molecule is also made?
          <span id="5" class="tiny button radius secondary">?</span>
        </p>
        <p>
          A protein is considered to be <span id="6" class="tiny button radius secondary">?</span> when it is converted into a randomly coiled structure without its normal activity.
        </p>
        <p>
          An example of a digestive enzyme which cleaves peptide bonds.
          <span id="7" class="tiny button radius secondary">?</span>
        </p>
        <p>
          The type of bonds which cause the formation of α helices and β sheets.
          <span id="8" class="tiny button radius secondary">?</span>
        </p>
        <p>
          The type of structure to which α helices, β sheets, and turns are referred.
          <span id="9" class="tiny button radius secondary">?</span>
        </p>
        <p>
          The overall structure of a protein.
          <span id="10" class="tiny button radius secondary">?</span>
        </p>
        <p>
          The protein structure that describes two completely separate peptides coming together.
          <span id="11" class="tiny button radius secondary">?</span>
        </p>
      </div>
      </div>
    </aside>

    <!-- Scene -->
    <!-- Main scene. -->
    <canvas id="viewer">
    </canvas> <!-- End main scene. -->

    <!-- Popup box. -->
    <div id="popup" style="display: none">
      <p id="header" data-tooltip class="has-tip"
         title="Green  - Hydrophobic <br>
                Yellow - Hydrophilic <br>
                Purple   - Basic <br>
                Pink   - Acidic">Glycine, Gly (G)
      </p>

      <div id="arrow" ></div>
      <div id="close">&times;</div> <!-- &#10006; -->
      <!-- Popup scene. -->
      <canvas id="popupViewer">
      </canvas> <!-- End popup scene. -->
    </div> <!-- End popup box. -->
  </div>
</div>
