<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <!-- <nav class="tab-bar"> -->
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span>Menu</span></a>
      </section>

      <!-- <section class="middle tab-bar-section">
        <h1 class="title">ProVis</h1>
      </section> -->

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon"><span></span></a>
      </section>
    <!-- </nav> -->

    <!-- Off Canvas left menu. -->
    <aside class="left-off-canvas-menu">
      <h6 class="subheader">Display Modes</h6>
      <ul>
        <li><a id="BS" class="tiny button radius">Ball and Stick</a></li>
        <li><a id="SF" class="tiny button radius success">Space Filling</a></li>
        <li><a id="WF" class="tiny button radius">Wireframe</a></li>
        <li><input type="checkbox" id="Hydro"> <label for="Hydro">Polarity</label></li>
        <li><input type="checkbox" id="Labs"> <label for="Labs">Labels</label></li>
        <!-- <li><a id="fullScreen" class="tiny button radius">Fullscreen</a></li> -->
      </ul>

      <h6 class="subheader">Protein Structures</h6>
      <select id="PS">
        <optgroup label="From RCSB PDB">
          <option value="4F5S">4F5S</option>
          <option value="1BEB" selected="selected">1BEB</option>
          <option value="1BLF">1BLF</option>
          <option value="1B8E">1B8E</option>
          <option value="1F6S">1F6S</option>
        </optgroup>
      </select>

      <h6 class="subheader">Amino Acid Structures</h6>
      <select id="AS">
        <option>Select to view model</option>
        <optgroup label="Hydrophobic">
          <option value="Trp">Trp</option>
          <option value="Phe">Phe</option>
          <option value="Gly">Gly</option>
          <option value="Ala">Ala</option>
          <option value="Val">Val</option>
          <option value="Ile">Ile</option>
          <option value="Leu">Leu</option>
          <option value="Met">Met</option>
          <option value="Pro">Pro</option>
        </optgroup>

        <optgroup label="Hydrophilic">
          <option value="Tyr">Tyr</option>
          <option value="Ser">Ser</option>
          <option value="Thr">Thr</option>
          <option value="Asn">Asn</option>
          <option value="Gln">Gln</option>
          <option value="Cys">Cys</option>
        </optgroup>

        <optgroup label="Basic">
          <option value="Lys">Lys</option>
          <option value="Arg">Arg</option>
          <option value="His">His</option>
        </optgroup>

        <optgroup label="Acidic">
          <option value="Asp">Asp</option>
          <option value="Glu">Glu</option>
        </optgroup>
      </select>

      <!-- <h6 class="subheader">Hydrogen Bonds</h6>
      <a class="tiny button radius" data-reveal-id="bondsModal">Info</a>

      <h6 class="subheader">Digestive Enzymes</h6>
      <a class="tiny button radius" data-reveal-id="enzymesModal">Info</a>

      <h6 class="subheader">Kjeldahl Method</h6>
      <a class="tiny button radius" data-reveal-id="kjeldahlModal">Info</a> -->
    </aside><!-- End Off Canvas left menu. -->

    <!-- Off Canvas right menu. -->
    <aside class="right-off-canvas-menu">
    </aside>

<!-- Scene -->

  <!-- Main scene. -->
  <canvas id="viewer">
  </canvas> <!-- End main scene. -->

  <!-- Popup box. -->
  <div id="popup" style="display: none">
    <p id="header" data-tooltip class="has-tip"
       title="Green  - Hydrophobic <br>
              Yellow - Hydrophilic <br>
              Purple   - Basic <br>
              Pink   - Acidic">Glycine, Gly (G)
    </p>

    <div id="arrow" ></div>
    <div id="close">&times;</div> <!-- &#10006; -->
    <!-- Popup scene. -->
    <canvas id="popupViewer">
    </canvas> <!-- End popup scene. -->
  </div> <!-- End popup box. -->

  <%= render 'shared/modals' %>



  </div>
</div>
