<div id="left">
  <br />
  <h6 class="subheader">Display Modes</h6>
  <a id="BS" class="tiny button radius success">Ball and Stick</a>
  <br />
  <a id="SF" class="tiny button radius">Space Filling</a>
  <br />
  <a id="WF" class="tiny button radius">Wireframe</a>
  <br />
  <input type="checkbox" id="Labs"> <label for="Labs">Labels</label>
</div>
<!-- Scene -->
<div id="right">
  <script>
    // get dimensions
    var width = window.innerWidth - 200;
    var height = window.innerHeight - 71;
    // setup component
    var viewer = new ChemDoodle.TransformCanvas3D('viewer', width, height);
    // set the representation to 'Ball and Stick'
    viewer.specs.set3DRepresentation('Ball and Stick');
    viewer.specs.macro_displayAtoms = true;
    viewer.specs.macro_displayBonds = true;
    viewer.specs.macro_atomToLigandDistance = 5;
    // set the background color to black
    viewer.specs.backgroundColor = '#111';
    // set to 'cartoon' mode
    viewer.specs.proteins_ribbonCartoonize = true;
    // load data
    var molFile = pdb_1F6F;
    // set the coordinate multiplier to 1 to stay in Angstroms
    //var molecule = ChemDoodle.readMOL(molFile, 1);
    molFile.residueSpecs = new ChemDoodle.structures.VisualSpecifications();
    molFile.residueSpecs.set3DRepresentation('Ball and Stick');

    //var AS2Casein = ChemDoodle.readPDB(AS1CaseinPDB, 1);
    viewer.loadMolecule(molFile);

    // Click events
    $("#BS").click(function() {
      $(this).addClass("success");
      $("#SF").removeClass("success");
      $("#WF").removeClass("success");
      viewer.specs.set3DRepresentation('Ball and Stick');
      viewer.setupScene();
      viewer.repaint();
    });

    $("#SF").click(function() {
      $(this).addClass("success");
      $("#BS").removeClass("success");
      $("#WF").removeClass("success");
      viewer.specs.set3DRepresentation('van der Waals Spheres');
      viewer.setupScene();
      viewer.repaint();
    });

    $("#WF").click(function() {
      $(this).addClass("success");
      $("#BS").removeClass("success");
      $("#SF").removeClass("success");
      viewer.specs.set3DRepresentation('Wireframe');
      viewer.setupScene();
      viewer.repaint();
    });

    $("#Labs").click(function() {
      viewer.specs.atoms_displayLabels_3D =! viewer.specs.atoms_displayLabels_3D;
      viewer.setupScene();
      viewer.repaint();
    });
  </script>
</div>
