<!-- Left menu. -->
<div id="left">

  <h6 class="subheader">Display Modes</h6>
  <ul>
    <li><a id="BS" class="tiny button radius">Ball and Stick</a></li>
    <li><a id="SF" class="tiny button radius success">Space Filling</a></li>
    <li><a id="WF" class="tiny button radius">Wireframe</a></li>
    <li><input type="checkbox" id="Hydro"> <label for="Hydro">Polarity</a></label></li>
    <li><input type="checkbox" id="Labs"> <label for="Labs">Labels</label></li>
  </ul>

  <h6 class="subheader">Protein Structures</h6>
  <select id="PS">
    <option disabled value="">From RCSB PDB</option>
    <option disabled value="">-------------</option>
    <option value="4F5S">4F5S</option>
    <option value="1BEB" selected="selected">1BEB</option>
    <option value="1BLF">1BLF</option>
    <option value="1B8E">1B8E</option>
    <option value="1F6S">1F6S</option>
  </select>

  <h6 class="subheader">Amino acid structures</h6>
  <select id="AS">
    <option>Select to view model.</option>
    <option disabled >Hydrophobic</option>
    <option disabled >-----------</option>
    <option value="Trp">Trp</option>
    <option value="Phe">Phe</option>
    <option value="Gly">Gly</option>
    <option value="Ala">Ala</option>
    <option value="Val">Val</option>
    <option value="Ile">Ile</option>
    <option value="Leu">Leu</option>
    <option value="Met">Met</option>
    <option value="Pro">Pro</option>
    <option disabled ></option>
    <option disabled >Hydrophilic</option>
    <option disabled >-----------</option>
    <option value="Tyr">Tyr</option>
    <option value="Ser">Ser</option>
    <option value="Thr">Thr</option>
    <option value="Asn">Asn</option>
    <option value="Gln">Gln</option>
    <option value="Cys">Cys</option>
    <option disabled ></option>
    <option disabled >Basic</option>
    <option disabled >-----------</option>
    <option value="Lys">Lys</option>
    <option value="Arg">Arg</option>
    <option value="His">His</option>
    <option disabled ></option>
    <option disabled >Acidic</option>
    <option disabled >-----------</option>
    <option value="Asp">Asp</option>
    <option value="Glu">Glu</option>
  </select>

  <!-- <ul>
    <li><a id="test" class="tiny button radius alert">Count nitrogen atoms!</a></li>
  </ul> -->

</div> <!-- End left menu. -->
<!-- Scene -->
<div id="right">

  <!-- Main scene. -->
  <canvas id="viewer">
  </canvas> <!-- End main scene. -->

  <!-- Popup box. -->
  <div id="popup" class="popup" style="display: none">
    <p id="header" data-tooltip class="has-tip"
       title="Green  - Hydrophobic <br>
             Yellow - Hydrophilic <br>
             Blue   - Basic <br>
             Pink   - Acidic">Glycine, Gly (G)
    </p>

    <div id="arrow" ></div>
    <div id="close">&times;</div> <!-- &#10006; -->
    <!-- Popup scene. -->
    <canvas id="popupViewer">
    </canvas> <!-- End popup scene. -->
  </div> <!-- End popup box. -->

</div> <!-- End scene. -->
