<div class="side-control-fixed">
  <br />
  <h6 class="subheader">Header</h6>
  <a href="#" class="tiny button success">Button 1</a>
  <a href="#" class="tiny button secondary">Button 2</a>
  <a href="#" class="tiny button alert radius">Button 3</a>
  <a href="#" class="tiny button round">Button 4</a>

  <a href="#" class="button medium radius split">Split Button <span data-dropdown="drop"></span></a><br>
  <ul id="drop" class="f-dropdown" data-dropdown-content>
    <li><a href="#">This is a link</a></li>
    <li><a href="#">This is another</a></li>
    <li><a href="#">Yet another</a></li>
  </ul>
</div>

<!-- three.js container -->
<div id="container">

</div>
<!-- info on screen display -->
<div id="info">
  <div class="top">
    <a href="http://learningthreejs.com/blog/2011/12/20/boilerplate-for-three-js/" target="_blank">LearningThree.js</a>
    boiler plate for
    <a href="https://github.com/mrdoob/three.js/" target="_blank">three.js</a>
  </div>
  <div class="bottom" id="inlineDoc" >
    - <i>p</i> for screenshot
  </div>
</div>
