<footer>
  <span>Translate: <kbd>alt</kbd> + drag | </span>

  <span>Rotate: drag | </span>

  <span>Zoom: mousewheel</span>

  <a href="http://web.chemdoodle.com" title="Open Source HTML5 Chemistry - ChemDoodle Web Components"><img class="footerImage" /></a>
</footer>

