<footer>
  <span>Move: <kbd>alt</kbd> + drag | Rotate: drag | Zoom: mousewheel</span>

  <a href="http://web.chemdoodle.com" title="Open Source HTML5 Chemistry - ChemDoodle Web Components"><img id="footerImage" /></a>
</footer>

