<!-- Hydrogen Bonds Modal -->
<div id="bondsModal" class="reveal-modal medium" data-reveal>
  <h2>Hydrogen Bonds</h2>
  <p>A hydrogen bond is a weak electrostatic attraction between an electronegative (partially negative charged) atom, such as nitrogen or oxygen, and a hydrogen atom covalently bonded to a second electronegative atom.</p>

  <%= image_tag("hydrogenBond.gif", id: "hydroImg") %>

  <p>In a protein, hydrogen bonding helps to form the secondary structure, the alpha-helices and beta-pleated sheets. This is because the C=O and N-H groups of the amino acids head groups (which also make up the peptide bonds) are able to hydrogen bond to other N-H and C=O in the head groups of neighbouring amino acids (4 amino acids distant) along the polypeptide chain, causing the polypeptide chain to either coil into a helix, or form a pleated layer. The following videos explain how the hydrogen bond can be used to form these different structures.</p>

  <p><a href="http://www.youtube.com/watch?v=eUS6CEn4GSA" target="_blank">Hydrogen bonds in the alpha helix.</a></p>

  <p><a href="http://www.youtube.com/watch?v=wM2LWCTWlrE" target="_blank">Hydrogen bonds in the beta-pleated sheet.</a></p>

  <p>Hydrogen bonds are also important in stabilising the tertiary structure of proteins. These hydrogen bonds form between the R-groups (also known as the side chains) of amino acids within a protein. These R-groups also contain atoms such as nitrogen, oxygen and hydrogen necessary for hydrogen bonding. Unlike hydrogen bonding in secondary structure, which is restricted to neighbouring amino acids; the hydrogen bonding forming in tertiary structure can form between amino acids that are distant (e.g 1000 amino acids) from each other.</p>

  <p>As mentioned above, hydrogen bonds are relatively weak and so can be broken using mechanical force, heat or altering the pH. These are all common techniques used to denature proteins in food processing as you would find when whisking, cooking or pickling food.  When these hydrogen bonds are disrupted, the secondary structure (alpha-helices and beta-pleated sheets) and tertiary structure (globular or fibrillar) of the protein are also destroyed (or ‘denatured’). An example of this can be seen when you beat an egg with a whisk to make a meringue. Before beating the egg, the egg white will appear smooth. However, during beating, the force of the whisk breaks the hydrogen bonds within the globular albumin proteins. New hydrogen bonds form spontaneously and irregularly, leading to the stiff foam-like consistency we see after beating the egg.</p>

  <p>You can read more about Hydrogen bonds in proteins in Chapter Five (pg 164-165) of Coultate’s “Food; the Chemistry of its Components”, or Chapter 2.3.2.2 (pg 16-18) of Campbell-Platt’s “Food Science and Technology”, both of which you can find in the resources section.</p>

  <a class="close-reveal-modal">&#215;</a>

</div> <!-- End Hydrogen Bonds Modal -->

<!-- Digestive Enzymes Modal -->
<div id="enzymesModal" class="reveal-modal medium" data-reveal>
  <h2>Digestive Enzymes</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, ab beatae incidunt maiores iusto. Corporis, blanditiis, illum, ab fugit debitis ut similique praesentium quos ea maiores laudantium ullam pariatur deleniti.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, temporibus praesentium reprehenderit amet magni libero ea cumque ipsa illo nemo. Veniam, quo magni dolorem asperiores saepe mollitia necessitatibus culpa praesentium qui quam sit facilis perferendis est eligendi ipsa totam quae unde voluptates aperiam voluptate modi repellendus vero illum cum nulla?</p>

  <a class="close-reveal-modal">&#215;</a>
</div> <!-- End Digestive Enzymes Modal -->

<!-- Kjeldahl Method Modal -->
<div id="kjeldahlModal" class="reveal-modal medium" data-reveal>
  <h2>Kjeldahl Method</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, ab beatae incidunt maiores iusto. Corporis, blanditiis, illum, ab fugit debitis ut similique praesentium quos ea maiores laudantium ullam pariatur deleniti.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, temporibus praesentium reprehenderit amet magni libero ea cumque ipsa illo nemo. Veniam, quo magni dolorem asperiores saepe mollitia necessitatibus culpa praesentium qui quam sit facilis perferendis est eligendi ipsa totam quae unde voluptates aperiam voluptate modi repellendus vero illum cum nulla?</p>

  <a class="close-reveal-modal">&#215;</a>
</div> <!-- End Kjeldahl Method Modal -->
