// Footer.
footer {
  background-color: #333;
  width: 100%;
  height: 26px;
  bottom: 0;
  position: fixed;
}

footer a {
  float: right;
}

html, body {
  height: 100%;
}

/* apply a natural box layout model to all elements */
 *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

// canvas.ChemDoodleWebComponent {
// }

// Left nav.
#left {
  background-color: #222;
  height: 100%;
  width: 200px;
  float: left;
}

// Scene.
#right {
  background-color: #111;
  height: 100%;
}

// Amino acid popup box.
.popup {
  display: none;
  position: absolute;
  z-index: 999;
  padding: 3px;
  background: #222;
  border-style: solid;
  border-color: #77DD77;
  border-width: 2px;
  border-radius: 2px;
  text-align: center; // For the amino acid name.

  #header {
    color: #111;
    background-color: #77DD77;
    // pastel green #77DD77
    // pastel orange #FFB347
    // dark pastel blue #779ECB
    // pastel magenta #F49AC2
    margin-bottom: 0px; // Overwrite Foundation default 20px.
    border-bottom-color: #99D19D;
  }

  #arrow {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: solid 7px;
    border-color: transparent #77DD77 transparent transparent;
    top: 8px;
    left: -15px;
  }

  #close {
    display: block;
    position: absolute;
    color: #FFF;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    top: -17px;
    right: -8px;
    font-size: 30px;
    cursor: pointer;
  }
}
